.city-search {
    width: 100%;
    position: relative;    
  }

   
  .city-search label{
    margin-left: 5px;
    color: rgb(6, 93, 6);
    font-size: 12pt;
    font-weight: bold;
  }
  .city-search input {
    width: 150px;
    margin-left: 5px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid  rgb(6, 93, 6);
    border-radius: 6px;
    color: darkblue;
    background-color: #b8f3ed;
  }
  
  .suggestions {
    margin-left: 5px;
    position: absolute;
    width: 100%;
    background: white;
    color: blue;
    border: 1px solid #ddd;
    z-index: 1000;
  }
  
  .suggestion {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion:hover {
    background-color: lightblue;
  }
  
  .suggestion span {
    color: blue;
    margin-left: 5px;
  }

  .selected-city p{
    margin-left: 5px;
    color: rgb(6, 93, 6);
    font-weight: bold;
    font-size: 12pt;
  }

  .selected-city button{
    margin-left: 5px;
    background-color: rgb(6, 93, 6) ;
    height: 40px;
    width: 170px;
    color: white;
    font-weight: bold;
    font-size: 14pt;
  }